*{
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style-type: none;
}
li{
    float: left;
}
ul{
    display: grid;
    grid-template-columns: 5% 10% 10% 10% 40% 5% 5% 5% 5%;
    grid-column-gap:0;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.imagen-perfil{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.imagen-perfil:hover{
    box-shadow: 0 0 10px 10px #87878738;
}
.boton-imagen{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.boton-imagen:hover{
    box-shadow: 0 0 10px 10px #87878738;
}
.pinterest-icon{
    width: 24px;
    height:24px;
}

input.search{
    padding: 9px 10px 9px 32px;
    width: 37vw;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 0px 50px 50px 0px;
    color: black;
    border: transparent ;
    background: #87878738;
}
input.search:hover{
    background-color: #8787878e;
    border-color: rgba(0, 191, 255, 0.787);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
input.search:focus{
   border:3px solid rgba(0, 149, 255, 0.618);
}
.cont2{
    width: 10%;
    height: 39px;
    background-color:#87878738 ;
    border-radius:50px 0px 0px 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.buttons{
    background-color: white;
    border-radius: 50px;
    border: 0;
    width: 70%;
    height: 48px;
    min-width: 60px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
}
.buttons:focus{
    background-color: black;
    color: white;
}

.img{
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.7s;
    background-color: white;
    z-index: 1;
}
main{
    margin-top: 60px;
}
.card-image{
    
    width: auto;
    position: relative;
    overflow: hidden;
    
}
.card-image:hover .contents{
    top: 0;
}
.card-image img{
    width: 100%; 
    transition: all 0.5s;
    cursor: zoom-in;
}
.contents{
    background-color: rgba(0, 0, 0, .7);
    border-radius: 15px;
    position: absolute;
    top: -100%;
    left:0;
    height: 100%;
    width: 105%;
}
.guardar{
    border: transparent;
    border-radius: 50px;
    height: 50px;
    width: 90px;
    background-color: rgb(215, 26, 26);
    color: white;
    margin-left: 190px;
    font-size: 16px;
    transition: all .1s;
}
.guardar:hover{
    background-color:rgb(189, 25, 25) ;
    cursor: pointer;
}
.link{
    font-size: 1.5rem;
    margin:15px;
    color: white;
}
.gallery{
    columns: 5 260px;
    column-gap: 2em;
    row-gap: 2em;
    z-index: -1;
}

@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {
    
    
    input.search{
        padding: 9px 10px 9px 32px;
        width: 20vw;
        outline: none;
        border: none;
        font-size: 18px;
        border-radius: 0px 50px 50px 0px;
        color: black;
        border: transparent ;
        background: #87878738;
    }
    .navbar-pinterest{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttons{
        width: 40%; 
        font-size: 13px;  
    }

}
@media screen and (max-width: 320px) {}