ul{
    list-style-type: none;
}
li{
    float: left;
}
ul{
    display: grid;
    grid-template-columns: 5% 10% 10% 10% 40% 5% 5% 5% 5%;
    justify-content: space-between;
}
.imagen-perfil{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
